body{
    width: 550px;
    text-align: left;
    font-weight: 250;
}
h3{
    text-transform: capitalize;
    font-size: 15px;
    text-align: left;
}
h2{
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1.5;
}
h4{
    font-weight: 400;
}
h5{
    font-weight: 400;
    text-align: center;
}