body{
    font-family: 'Roboto', sans-serif;;
}
#box{
    width: 1000px;
    background-color: #ffffff;
    float: left;
    box-shadow: 0px 0px 5px;
    border-radius: 5px;
    box-sizing: border-box;
    float: left;
    margin-left: calc(50% - 500px);
}
img{
    width: 120px;
    height: 120px;
    max-width: 100%;
    border-radius: 100%;
    margin-top: 20px;
}
#top{
    width: 1000px;
    height: 120px;
    background-color: #e0e0e0;
    box-shadow: none;
    padding-left: 340px;
    box-sizing: border-box;
}
#top h1{
    text-transform: uppercase;
    padding-top:  20px;
    margin: 0px 0px 2px 0px;
}
#top p{
    text-transform: uppercase;
    font-size: 20px;
    padding: 1px;
    margin:0px;
    font-weight: 400px;
}
#left{
    float: left;
    margin: 0px;
    width: 200px;
    height: 800px;
    /*margin-top: -50px;*/
    background-color: #f3f3f3;
    box-shadow: none;
    padding-left:40px ;
    margin: -90px 20px 0px 40px;
}
#left h3{
    text-transform: uppercase;
    font-weight: 600px;
}
#left p{
    text-transform: capitalize;
    margin-top:10px ;
}
#left h5{
    text-transform: uppercase;
    font-size: 15px;
    margin: 10px 0px 10px 0px;
}
#left div{
    border-top: 1px solid black;
    width: 100px;
    padding: 5px;
    background-color: #f3f3f3;
    box-shadow: none;
    border-radius: 0px;
}
#right{
    width:600px ;
    height: 600px;
    float: left;
    background-color: #ffffff;
    box-shadow: none;
    border-radius: 0px;
    padding-left: 40px;
}
#right h3{
    text-transform: uppercase;
    font-weight: 600px;
}
#right h4{
    text-transform: uppercase;
    font-weight: 600px;
    margin: 30px 0px 0px 0px;
}
#right div{
    border-top: 1px solid black;
    width: 550px;
    padding: 10px;
    box-shadow: none;
    border-radius: 0px;
}
#right p{
    margin: 0px 0px 20px 0px;
    line-height: 1.5;
}
.title{
    color: #cf0f0f;
}