.nav button{
    float: left;
    list-style: none;
    width: 150px;
    height: 30px;
    border: 1px solid white;
    background-color: #ffffff;
}
.box input{
    position: absolute;
    left: 0;
    width: 600px;
    height: 100px;
    display: none;
    margin-top: -1px;
}
#popup1{
    display: block;
}
button{
    border-bottom: 1px solid white;
}